<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Root loads dist/index.html
    RewriteRule ^$ dist/index.html [L]

    # All paths map to dist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>


<IfModule mod_headers.c>
  <FilesMatch "\.(html|htm)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </FilesMatch>
  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  </FilesMatch>
  <FilesMatch "\.(jpg|jpeg|png|gif|svg|webp)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
</IfModule>
